<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" rel='stylesheet' href='/stylesheets/stylecss.css' />
    <title>login</title>
</head>

<body>
    <div id="card">
        <div id="content">
            <div id="title">
                <h2>register</h2>
                <div class="underline-title"></div>
            </div>
            <form action="http://localhost:3000/login">
                <center>

                    <p>Name<input type="text" name="name" class="form_login" placeholder="Name"></p>
                    <p>Email<input type="text" name="email" class="form_login" placeholder="Email .."></p>
                    <p>password<input type="password" name="password" class="form_login" placeholder="Password .."></p>

                    <button class="button">Submit</button>
                </center>
            </form>
        </div>
    </div>
    <div id="footer">
        © Copyright RPL 1 2020
    </div>
</body>

</html>